﻿<header class="portlet-topper"> <h1 class="portlet-title">  <span class="portlet-title-text"> Menu de Relevância <i class="icon-chevron-down"></i> </span>  </h1> </header>
<nav id="support-menu">
	<ul>
		#foreach($item-apoio in $apoio-titulo-item.getSiblings())
			#if($item-apoio.getData() != "")
			        <li>
						<a href="$item-apoio.getChildren().get(0).getData()" title="$item-apoio.getData()">
							<span>$item-apoio.getData()</span>
						</a>
					</li>
			#end
		#end
	</ul>
</nav>